.productCard {
    min-width: 250px;
}
.productCard img {
    width: 100%;
    height: 55%;
    object-fit: contain;
}
.productCard {
width: 250px;
height: 300px;
text-align: center;
padding: 10px;
margin: 10px;
}
.productCard  p {
  margin-top: 9px;
}
.productName {
  margin-bottom: 0px;;
  color: black;
  font-weight: bold;
}
.price {
  color: #388e3c;
  font-size: 14px;
  font-weight: bold;
}
.productCat {
  font-size: 14px;
  font-weight: bold;
  color: grey;
}