.allProducts {
    margin: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    min-width: 300px;
}
.viewAllHead {
    text-align: center;
    font-weight: bold;
    margin: 30px auto;
    padding:  20px 0;
    letter-spacing: 1px;
    border-bottom: 1px solid grey;
}